<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SystemQRCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEF43BC91CA027F400215E9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF43BE21CA027F500215E9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF43BED1CA027F500215E9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
